.navbar {
    top:0px;
        display: flex;
    justify-content:space-evenly;
    position:fixed;
    width:100%;
    background-color:white;
    padding:-5px;
    height: 100px;
    color: #747474;

}
.list {
    display: flex;
    justify-content: space-around;
    width: 400px;
    color: #747474;
    }
    li a {
        list-style: none;
        text-decoration: none;
    }
    li{
        list-style: none;
    }
    .dropdown:hover .dropdown-content {
        display: block;
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        
      }